.home{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media screen and (max-width:1050px){
   .home{
    grid-template-columns: repeat(3,1fr);
   }
}
@media screen and (max-width: 890px){
    .home{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 640px){
    .home{
        grid-template-columns: 1fr
    }
}
